.headerMenu {
  min-width: 100%;
  min-width: 65rem;

  padding: 1rem 0;
  /* background: #282828; */
  background: #313235;
}

.headerContent {
  width: 80%;
  min-width: 60rem;
  margin: 0 auto;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.headerContent div:first-child {
  display: flex;
  align-items: center;
}

.headerContent div:first-child span {
  font-size: 2rem;
  color: #fffafa;
  font-family: "Kaushan Script", cursive;
  transform: translateX(0);
  transition: transform 500ms ease;
}

.headerContent div:first-child span:hover {
  transform: translateX(60%);
}

.headerContent div:last-child {
  margin-left: auto;
}

.headerContent a {
  padding-left: 2.5rem;
  font-size: 1rem;
  color: #fffafa;
  align-items: center;
  transition: color 0.3s;
}

.headerContent a:hover svg, .headerContent a:hover {
  color: #DA8371;
}

.headerContent svg {
  position: relative;
  color: #fffafa;
  top: 1px;
}

.headerContent div:first-child img {
  margin-right: 1.5rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.selectedLink,
.selectedLink * {
  color: #DA8371 !important;
}

