.swiper-button-next{
  color:#FFF;
}

.swiper-button-prev{
  color:#FFF;
}

.swiper-pagination-bullet {
  color:#FFF;
  background:#FFF;
  height:20px;
  width:20px;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  color:#da8371;
  background:#da8371;
  height:20px;
  width:20px;
  opacity: 1;
}